/* celestia (full credits to @elainehan; pls keep these credits if used) */
@font-face {
font-family: celestia;
src: url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/Celestia-Regular.ttf') format('truetype'),
url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/Celestia-Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

/* starlight (full credits to @elainehan; pls keep these credits if used) */
@font-face {
font-family: starlight;
src: url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/Starlight-Regular.ttf') format('truetype'),
url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/Starlight-Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: fat frogs;
src: url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/FatFrogs-Regular.ttf') format('truetype'),
url('https://raw.githubusercontent.com/not-elaine/fonts-by-elaine/main/FatFrogs-Regular.ttf') format('opentype');
font-weight: normal;
font-style: normal;
}
